[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"39bd382" = {path = "./chmp", editable = true}
"7f29d02" = {path = "./SemiSupervisedImages/chmp-app-sem-sup-img", editable = true}
scikit-learn = "*"
scipy = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
patsy = "*"
sympy = "*"
ipywidgets = "*"
"422b063" = {path = "./vegawidget"}
sqlalchemy = "*"
requests = "*"
"beautifulsoup4" = "*"
torch = "*"
dask = "*"
cloudpickle = "*"
partd = "*"
vmprof = "*"
bokeh = "*"
tornado = "<5.0"
chmp-app-causality = {editable = true, path = "./20180107-Causality/chmp-app-causality"}
chmp-app-kwdetect = {editable = true, path = "./20170813-KeywordDetection/chmp-app-kwdetect"}
daft = "*"
sphinx = "*"
seaborn = "*"
xlrd = "*"
mlflow = "*"
ipytest-demo = {editable = true, path = "./20181026-TestingInJupyter"}

[dev-packages]
pytest = "*"
ipytest = "==0.5.0b1"
black = "==18.6b4"
docutils = "*"
twine = "*"
wheel = "*"
invoke = "*"
blackcellmagic = "*"
nbconvert = "*"
notebook = "*"
ipykernel = "*"
nbval = "*"
pyflakes = "*"
mypy = "*"

[requires]
python_version = "3.6"

[scripts]
precommit = "invoke precommit"
precommit-full = "invoke precommit-full"
"static-checks" = "invoke static-checks"
release = "invoke release"
notebook = "jupyter notebook"
test = "invoke test"
"integration" = "invoke integration"
