[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"39bd382" = {path = "./chmp", editable = true}
"7f29d02" = {path = "./SemiSupervisedImages/chmp-app-sem-sup-img", editable = true}
scikit-learn = "*"
scipy = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
patsy = "*"
ipytest = "*"
pytest = "*"
sympy = "*"
mplleaflet = "*"
ipywidgets = "*"
altair = "*"
vega = "*"
"422b063" = {path = "./vegawidget"}
sqlalchemy = "*"
requests = "*"
"beautifulsoup4" = "*"
torch = "*"
dask = "*"
cloudpickle = "*"
partd = "*"
vmprof = "*"
bokeh = "*"
tornado = "<5.0"
chmp-app-causality = {editable = true, path = "./20180107-Causality/chmp-app-causality"}
chmp-app-kwdetect = {editable = true, path = "./20170813-KeywordDetection/chmp-app-kwdetect"}
daft = "*"
sphinx = "*"

[dev-packages]
jupyter = "*"
black = "==18.6b4"
docutils = "*"
twine = "*"
wheel = "*"
invoke = "*"

[requires]
python_version = "3.6"

[scripts]
precommit = "invoke precommit"
test = "invoke test"
docs = "invoke docs"
format = "invoke format"
notebook = "jupyter notebook"

