[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
ipytest = "*"
notebook = "*"
ipykernel = "*"
pytest = "*"
nbconvert = "*"
ipytest-demo = {editable = true, path = "."}
wheel = "*"
invoke = "*"
nbval = "*"
black = "==18.9b0"

[scripts]
build = "jupyter nbconvert --to slides notebooks/IPyTestIntro.ipynb --output-dir resources"

precommit = "invoke precommit"
format = "invoke format"
test = "invoke test"
